@import url(./fonts/PTSansWeb/stylesheet.css);

/* =Global
-----------------------------------------------------------------------------*/
body {
    background: #ddd url(../img/honey_im_subtle.png);
}

.right-block {
    width: 25.5%;
    float: right;
}

.left-block {
    width: 70.5%;
    float: left;
}

.left-block-without-right-space {
    width: 700px;
    float: left;
}

input[type="text"] {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


/* =Typography
-----------------------------------------------------------------------------*/
body, td, th {
    color: #444;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}


/* =Links
-----------------------------------------------------------------------------*/
a:link, a:visited {
    color: #007ad0;
}

a:hover, a:active {
    color: #f99a1e;
}


a.black-link {
    color: inherit;
}

a.black-link:hover {
    color: #f99a1e;
}


/* =Buttons
-----------------------------------------------------------------------------*/
.button {
    font-weight: bold;
    padding: 0.4em 1.8ex;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}

.button-full {
    display: block;
}

.button-margin {
    margin-bottom: 1em;
}

.button-yellow {
    color: #7b4e00 !important;
    background: #f9c613;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbd554), to(#f9c613));
    background: -webkit-linear-gradient(top, #fbd554, #f9c613);
    background: -moz-linear-gradient(top, #fbd554, #f9c613);
    background: -ms-linear-gradient(top, #fbd554, #f9c613);
    background: -o-linear-gradient(top, #fbd554, #f9c613);
    background-image: -ms-linear-gradient(top, #fbd554 0%, #f9c613 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.button-yellow:hover {
    background: #ffd43b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe27f), to(#ffd43b));
    background: -webkit-linear-gradient(top, #ffe27f, #ffd43b);
    background: -moz-linear-gradient(top, #ffe27f, #ffd43b);
    background: -ms-linear-gradient(top, #ffe27f, #ffd43b);
    background: -o-linear-gradient(top, #ffe27f, #ffd43b);
    background-image: -ms-linear-gradient(top, #ffe27f 0%, #ffd43b 100%);
}

.button-yellow:active {
    background: #fbd554;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9c613), to(#fbd554));
    background: -webkit-linear-gradient(top, #f9c613, #fbd554);
    background: -moz-linear-gradient(top, #f9c613, #fbd554);
    background: -ms-linear-gradient(top, #f9c613, #fbd554);
    background: -o-linear-gradient(top, #f9c613, #fbd554);
    background-image: -ms-linear-gradient(top, #f9c613 0%, #fbd554 100%);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.9);
}


.button-blue {
    border: 1px solid #3181b4;
    background: #3da4e5;
    background: -webkit-gradient(linear, left top, left bottom, from(#76bfed), to(#3da4e5));
    background: -webkit-linear-gradient(top, #76bfed, #3da4e5);
    background: -moz-linear-gradient(top, #76bfed, #3da4e5);
    background: -ms-linear-gradient(top, #76bfed, #3da4e5);
    background: -o-linear-gradient(top, #76bfed, #3da4e5);
    background-image: -ms-linear-gradient(top, #76bfed 0%, #3da4e5 100%);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.6);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #fff !important;
}

.button-blue:hover {
    background: #57b1ea;
    background: -webkit-gradient(linear, left top, left bottom, from(#8ec7eb), to(#57b1ea));
    background: -webkit-linear-gradient(top, #8ec7eb, #57b1ea);
    background: -moz-linear-gradient(top, #8ec7eb, #57b1ea);
    background: -ms-linear-gradient(top, #8ec7eb, #57b1ea);
    background: -o-linear-gradient(top, #8ec7eb, #57b1ea);
    background-image: -ms-linear-gradient(top, #8ec7eb 0%, #57b1ea 100%);
    color: #fff;
}

.button-blue:active {
    background: #76bfed;
    background: -webkit-gradient(linear, left top, left bottom, from(#3da4e5), to(#76bfed));
    background: -webkit-linear-gradient(top, #3da4e5, #76bfed);
    background: -moz-linear-gradient(top, #3da4e5, #76bfed);
    background: -ms-linear-gradient(top, #3da4e5, #76bfed);
    background: -o-linear-gradient(top, #3da4e5, #76bfed);
    background-image: -ms-linear-gradient(top, #3da4e5 0%, #76bfed 100%);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}



.button-gray {
    border-color: #c3c3c3;
    background: #e9e9e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9e9e9));
    background: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9);
    background: -moz-linear-gradient(top, #fdfdfd, #e9e9e9);
    background: -ms-linear-gradient(top, #fdfdfd, #e9e9e9);
    background: -o-linear-gradient(top, #fdfdfd, #e9e9e9);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #e9e9e9 100%);
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    text-shadow: #ffffff 0 1px 0;
    color: #888888;
}

.button-gray:hover {
    border-color: #bebebe;
    text-shadow: #ffffff 0 1px 0;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#dbdbdb));
    background: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb);
    background: -moz-linear-gradient(top, #f0f0f0, #dbdbdb);
    background: -ms-linear-gradient(top, #f0f0f0, #dbdbdb);
    background: -o-linear-gradient(top, #f0f0f0, #dbdbdb);
    background-image: -ms-linear-gradient(top, #f0f0f0 0%, #dbdbdb 100%);
    color: #888888;
}

.button-gray:active {
    text-shadow: #ffffff 0 1px 0;
    border-color: #a1a1a1;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#f0f0f0));
    background: -webkit-linear-gradient(top, #dbdbdb, #f0f0f0);
    background: -moz-linear-gradient(top, #dbdbdb, #f0f0f0);
    background: -ms-linear-gradient(top, #dbdbdb, #f0f0f0);
    background: -o-linear-gradient(top, #dbdbdb, #f0f0f0);
    background-image: -ms-linear-gradient(top, #dbdbdb 0%, #f0f0f0 100%);
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    color: #888888;
}


/* =Misc
-----------------------------------------------------------------------------*/
.socials iframe {
    background: #fff;
}

.socials * {
    width: 100% !important;
}

.rounded {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.textured {
    background: url(../img/cream_pixels.png);
    margin-bottom: 1.5em;
}

.shadowed {
    -webkit-box-shadow:  0px 6px 28px 0px rgba(0, 0, 0, 0.25);
            box-shadow:  0px 6px 28px 0px rgba(0, 0, 0, 0.25);
}

.bordered {
    border: 1px solid #c0c0c0;
}

.gradiented {
    background: #e6e6e6 url(../img/top-nav-bg.png) repeat-x top;
}

.gradiented.bordered {
    border-bottom-color: #b1b1b1;
}

.padded {
    padding: 15px 20px 20px;
}

.whited {
    background: white;
}


/* =Layout
-----------------------------------------------------------------------------*/
.limiter {
    padding: 0 2%;
    width: 940px;
    min-width: 940px;
    max-width: 940px;
    margin: 0 auto;

    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.limiter.wider {
    width: 80%;
    min-width: 940px;
    max-width: 1200px;
}


/* =Typography
-----------------------------------------------------------------------------*/
.halflings {
    text-decoration: none;
}


/* =Header
-----------------------------------------------------------------------------*/
.header {
    height: 240px;
}


/* =Header Top
-----------------------------------------------------------------------------*/
.header .top {
    position: relative;
    height: 42px;
    background: rgba(250, 250, 250, 0.5);
}

.header .top .inner-block {
    height: 42px;
}

.header .top nav.left {
    float: left;
    width: 670px;
}

.header .top nav.right {
    float: right;
    width: 260px;
    text-align: right;
}

.header .top nav a {
    line-height: 42px;
    height: 42px;
    display: inline-block;
    position: relative;
}

.header .top nav.left a {
    margin-right: 32px;
}

.header .top nav.right a {
    margin-left: 32px;
}

.header .top nav a.halflings {
    height: 26px;
}

.header .top nav a i {
    margin-right: 0.5ex;
    margin-bottom: -1px;
}

/* =Header Mid
-----------------------------------------------------------------------------*/
.header .mid {
    height: 110px;
}

.header .mid .inner-block {
    position: relative;
}


.header .mid .inner-block .logo {
    background: url(../img/logo-header.png);
    width: 491px;
    height: 54px;
    display: block;
    position: absolute;
    left: 0;
    top: 29px;
}

.header .mid .inner-block .logo:hover {
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    transform: scale(1.03);
}


.header .mid .phones {
    background: #f1f1f1;
    position: absolute;
    right: 0;
    top: 25px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
    color: #787878;
    text-align: center;
}

.header .mid .phones .inner-block {
    margin: 1px;
    border: 1px solid #d8d8d8;
    padding: 8px 10px 4px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.header .mid .phones .inner-block .phone {
    display: block;
    font-size: 1.5em;
}

.header .mid .phones .inner-block .desc {
    font-size: 0.85em;
}


/* =Top nav
-----------------------------------------------------------------------------*/
.top-nav {
    height: 50px;
    top: 135px;
}

.top-nav nav {
    display: block;
    height: 48px;
    text-align: center;
}

.top-nav nav .spacer {
    background: url(../img/menu-spacer.png);
    height: 48px;
    width: 3px;
    display: inline-block;
    margin-left: -1px;
    position: absolute;
    z-index: 2;
}

.top-nav nav a {
    display: inline-block;
    height: 48px;
    width: 155px;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    font-size: 1.15em;
    color: #7e7e7e;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.top-nav nav a:hover {
    color: #666;
    background: rgba(0, 0, 0, 0.05);
}

.top-nav nav a.active {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


/* =Middle
-----------------------------------------------------------------------------*/
.middle {
    background: url(../img/bg-lighter.png) repeat-x 0 10px;
}


/* =Slider
-----------------------------------------------------------------------------*/
.slider-container {
    position: relative;
    width: 940px;
    margin: 0 auto 40px;
}

.slider-right-part {
    background: url(../img/cream_pixels.png);
    -webkit-border-radius: 0px 5px 5px 0px;
            border-radius: 0px 5px 5px 0px;
    width: 240px !important;
}

.slider-right-part .content {
    padding: 20px;
}

.slider-right-part .content h2 {
    font-size: 1.4em;
}

.slider-container .shadow {
    position: absolute;
    bottom: -33px;
    background: url(../img/shadow-1.png) no-repeat center bottom;
    width: 100%;
    height: 33px;
}


.slider-height {
    height: 315px;
}

.slider-width {
    width: 700px;
}

.slider {
    width: 700px;
    position: relative;
    margin-bottom: 35px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);
    z-index: 4;
}

.slider .inner-block {
    position: relative;
    overflow: hidden;
}

.slider .pagination {
    position: absolute;
    z-index: 2;
    left: 350px;
    bottom: 25px;
    width: 330px;
    height: 10px;
}

.slider .pagination a {
    height: 10px;
    width: 10px;
    float: left;
    margin: 0 10px 0 0;
    background: #eee;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    opacity: 0.5;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.slider .pagination a:hover {
    opacity: 1;
}

.slider .pagination a.active {
    background: #fff;
    opacity: 1;
}

.slider .items-container {

}

.slider .items-container .item {
    position: relative;
    float: left;
}

.slider .items-container .item .image {
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.slider .items-container .item .info-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    opacity: 0;
    color: #fff;
    overflow-x: hidden;
    -webkit-border-radius: 0px 4px 4px 0px;
            border-radius: 0px 4px 4px 0px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(160deg) scale(0) rotateZ(55deg);
    -moz-transform: rotateY(160deg) scale(0) rotateZ(55deg);
    -o-transform: rotateY(160deg) scale(0) rotateZ(55deg);
    transform: rotateY(160deg) scale(0) rotateZ(55deg);
}

.slider .items-container .item.active .info-panel {
    width: 370px;
    opacity: 1;
    -webkit-transform: rotateY(0deg) scale(1) rotateZ(0deg);
    -moz-transform: rotateY(0deg) scale(1) rotateZ(0deg);
    -o-transform: rotateY(0deg) scale(1) rotateZ(0deg);
    transform: rotateY(0deg) scale(1) rotateZ(0deg);
}

.slider .items-container .item .info-panel .content-block {
    padding: 35px 20px 50px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
    width: 330px;
}

.slider .items-container .item .info-panel .content-block .button {
    font-size: 1.2em;
}

.slider .items-container .item .info-panel .content-block h1 {
    font-size: 3em;
}


/* =Search
-----------------------------------------------------------------------------*/
.search-block {
    padding: 20px;
    margin-bottom: 40px;
}

.search-block form {
    margin: 0;
    padding-right: 100px;
    position: relative;
}

.search-block form input[type="text"] {
    width: 100%;
    font-size: 1em;
}

.search-block form .button {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    padding: 4px 0;
}


/* =Main content
-----------------------------------------------------------------------------*/
.main-content {
    margin-bottom: 40px;
}


/* =Footer
-----------------------------------------------------------------------------*/
.footer {
    background: rgba(250, 250, 250, 0.5);
    padding: 30px 0;
}

.footer .right-block {
    position: relative;
}

.footer .right-block .content {
    margin-left: 20px;
}

.footer .logo {
    position: absolute;
    left: 12px;
    top: 0;
    display: block;
    background: url(../img/logo-footer.png);
    width: 197px;
    height: 22px;
}

.footer .logo:hover {
    opacity: 0.7;
}


/* =News shortlist
-----------------------------------------------------------------------------*/
.news-shortlist .item {
    margin: 1.2em 0 0 0;
}

.news-shortlist .item h3 {
    font-size: 1em;
    font-weight: normal;
}


/* =Products list
-----------------------------------------------------------------------------*/
.products-list {

}

.products-list .item:hover {
    -webkit-box-shadow:  0px 10px 45px 0px rgba(0, 0, 0, 0.55);
            box-shadow:  0px 10px 45px 0px rgba(0, 0, 0, 0.55);
}

.products-list .item .image {
    display: block;
}

.products-list .item .image img {
    -webkit-border-radius: 5px 5px 0px 0px;
            border-radius: 5px 5px 0px 0px;
    width: 100%;
    display: block;
}

.products-list .item .name {
    text-align: center;
    font-size: 0.9em;
    padding: 0.5em 1ex;
}

.products-list .item .price-block {
    background: url(../img/gray-texture.png) repeat-x;
    height: 50px;
    padding: 0 13px;
    line-height: 50px;
    -webkit-border-radius: 0px 0px 5px 5px;
            border-radius: 0px 0px 5px 5px;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.products-list .item .price-block .price {
    font-size: 1.2em;
    float: left;
}

.products-list .item .price-block .buy-button {
    float: right;
    display: block;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
}


/* =Animations
-----------------------------------------------------------------------------*/
.transform-easeOutExpo-500 {
    -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */

    -webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
        -ms-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
         -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
            transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}

.transform-linear-100 {
    -webkit-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -moz-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -ms-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
         -o-transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
            transition: all 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

    -webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
       -moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
        -ms-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
         -o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750);
            transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}